In [75]:
from pandas import*

In [76]:
df = read_csv("benchmark-report.csv")

In [77]:
df = df.drop(df.columns[[i for i in range(1,43)]], axis=1)

In [78]:
df

   Method   size Mean [μs]  Error [μs]  StdDev [μs]  Allocated [B]
0  swap_1   1000     512.7        0.53         0.44              1
1  swap_1   2000   1,961.8       16.72        13.96              3
2  swap_1   3000   4,467.1        6.32         4.93              6
3  swap_1   4000   7,805.7       10.40         8.68              6
4  swap_1   5000  12,173.2       26.23        20.48             13
5  swap_1   6000  17,791.7       23.64        22.11             26
6  swap_1   7000  23,911.1       60.97        50.91             26
7  swap_1   8000  31,361.8       32.17        26.87             51
8  swap_1   9000  39,459.5       57.03        44.53             63
9  swap_1  10000  48,310.4       67.89        60.19             74

In [79]:
df = df.drop(df.columns[[3,4]], axis = 1)

In [80]:
df.rename(columns = {"Mean [μs]": "Microsegundos"}, inplace=True)
df.rename(columns = {"Allocated [B]": "BytesMemoria"}, inplace=True)
df.rename(columns = {"Allocated [B]": "BytesMemoria"}, inplace=True)
df.rename(columns = {"size": "tamaño"}, inplace=True)
df.rename(columns = {"Method": "Method"}, inplace=True)
df

   Method  tamaño Microsegundos  BytesMemoria
0  swap_1    1000         512.7             1
1  swap_1    2000       1,961.8             3
2  swap_1    3000       4,467.1             6
3  swap_1    4000       7,805.7             6
4  swap_1    5000      12,173.2            13
5  swap_1    6000      17,791.7            26
6  swap_1    7000      23,911.1            26
7  swap_1    8000      31,361.8            51
8  swap_1    9000      39,459.5            63
9  swap_1   10000      48,310.4            74

In [81]:
for i in range(0, len(df["Microsegundos"])):
    df["Microsegundos"][i] = float(df["Microsegundos"][i].replace("," ,""))

/tmp/ipykernel_4676/3608399198.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Microsegundos"][i] = float(df["Microsegundos"][i].replace("," ,""))

In [27]:
df.to_csv("benchmark-report-" + df._get_value(0, "Method")+ ".csv")